.modalBack{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalTitle{
    position: relative;
    padding: 0 2em;
    h2{
        margin: 0;
    }
    .close{
        border: 0 none;
        border-radius: 100%;
        background: none;
        font-weight: 700;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
}
 .modalWrapper{
    border-radius: 5px;
    border: solid 1px #000;
    background-color: #fff;
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    // margin: 0 auto;


}